#page-container {
  width: 800px;
  margin: 0 auto;
}

#game-container {
  width: 100%;
  height: 98%;
  overflow: hidden;
  margin: -20px 0 0 0;
  padding: 0;
  position: relative;
}

#game-controller {
  position: absolute;
  left: 0;
  top: 0;
  margin: 15px 0 0 15px;
  width: 260px;
  max-height: 80%;
  overflow-y: auto;
}

#game-controller h4 {
  margin: 20px 0 0 0;
}

#history-ctl {
  display: none;
}

#target-circle circle,
#target-circle line {
  fill: none;
  vector-effect: non-scaling-stroke;
  stroke-width: 1.2;
  stroke: #666;
  pointer-events: none;
}

svg, g, circle, polygon, rect, text {
  pointer-events: all;
}

rect.events-rect {
}

.player-label {
  font-weight: bold;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  font-size: 0.8em;
}

.player-info {
  font-size: 0.8em;
}

.player0 {
  stroke: #ff0000; 
  color: #ff0000;
}

.player1 {
  stroke: #ffff00;
  color: #ffff00;
}

.player2 {
  stroke: #7ffeff;
  color: #7ffeff;
}

.player3 {
  stroke: #004080;
  color: #004080;
}

.player4 {
  stroke: #ff7f00;
  color: #ff7f00;
}

.player5 {
  stroke: #7f00ff;
  color: #7f00ff;
}

.player6 {
  stroke: #600000;
  color: #600000;
}

.player7 {
  stroke: #00ff00;
  color: #00ff00;
}

.player8 {
  stroke: #006000;
  color: #006000;
}

.player9 {
  stroke: #ff00ff;
  color: #ff00ff;
}

.player10 {
  stroke: #804000;
  color: #804000;
}

.player11 {
  stroke: #ffffff;
  color: #ffffff;
}

svg.spacecase-canvas {
  background-color: #000;
  padding: 10px;
}

text {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 100;
  fill: #fff;
}

text.planet-label {
  font-size: 2.5pt;
}

text.planet-specs {
  font-size: 2pt;
  letter-spacing: 1pt;
  font-weight: 200;
}

text.planet-fleets {
  font-size: 2pt;
  font-weight: 200;
}

.carrier-container polygon {
  fill: #fff;
}

circle.star-center {
  fill: rgba(0,0,0,0);
  vector-effect: non-scaling-stroke;
  stroke-width: 2;
}

circle.star-center-visible {
  fill: #fff;
}

circle.star-center-invisible {
  stroke: #666;
}

circle.star-player-circle {
  fill: rgba(0,0,0,0);
  vector-effect: non-scaling-stroke;
  stroke-width: 2;
}

text.star-label {
  fill: #fff;
}

circle.star-resources {
  fill: none;
  vector-effect: non-scaling-stroke;
  stroke-width: 1.2;
  stroke: #220;
  pointer-events: none;
}

.carrier-container text.fleet-count {
  font-size: 2pt;
  font-weight: 200;
}

circle.carrier-circle {
  stroke-width: 2;
  vector-effect: non-scaling-stroke;
  fill: rgba(0,0,0,0);
}

#history-slider-container {
  position: fixed;
  bottom: 0;
  padding-bottom: 10px;
  margin-left: 3%;
  width: 92%;
  background: #000;
}

#history-slider-container .slider {
  width: 100%;
}

#history-slider-container .slider-handle {
  background-color: #fff;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxyYWRpYWxHcmFkaWVudCBpZD0iZyI+PHN0b3Agb2Zmc2V0PSIwIiBzdG9wLWNvbG9yPSIjM2QzZDNkIi8+PHN0b3Agb2Zmc2V0PSIxIiBzdG9wLWNvbG9yPSJibGFjayIvPjwvcmFkaWFsR3JhZGllbnQ+PHJlY3QgeD0iMCUiIHk9IjAlIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJibGFjayIgLz48cmVjdCB4PSItMjAuNzEwNyUiIHk9Ii0yMC43MTA3JSIgd2lkdGg9IjE0MS40MjE0JSIgaGVpZ2h0PSIxNDEuNDIxNCUiIGZpbGw9InVybCgjZykiIC8+PC9zdmc+);
  background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 127, color-stop(0%, #3d3d3d), color-stop(100%, black));
  background-image: -webkit-radial-gradient(center center, farthest-corner, #3d3d3d 0%, black 100%);
  background-image: -moz-radial-gradient(center center, farthest-corner, #3d3d3d 0%, black 100%);
  background-image: -ms-radial-gradient(center center, farthest-corner, #3d3d3d 0%, black 100%);
  background-image: -o-radial-gradient(center center, farthest-corner, #3d3d3d 0%, black 100%);
  background-image: radial-gradient(farthest-corner at center center, #3d3d3d 0%, black 100%);
}
